<%= @quiz.question %>
<%= form_with url: {controller: 'quizzes', action: 'create_answer'}, method: :patch, local: true do |f| %>
  <%= f.label :final_answer, "解答" %>
  <%= f.text_field :final_answer, class: 'form-control' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>


<span class="user">名前 <%= link_to @quiz.user.name, @quiz.user %></span><br>
<span class="number_of_times_solved">解答された回数 <%= @quiz.number_of_times_solved %></span><br>
<span class="number_of_correct_answers">正解の回数 <%= @quiz.number_of_correct_answers %></span><br>
<span class="number_of_times_we_saw_the_answer">答えを見られた回数 <%= @quiz.number_of_times_we_saw_the_answer %></span><br>
