<li id="praise_mes-<%= praise_me.id %>">
    <% if praise_me.user.avatar.attached? %>
    <%= link_to image_tag(praise_me.user.avatar.variant(resize_to_fill: [50, 50]).processed),praise_me.user %>
    <% else %>
    <%= link_to image_tag("default_avatar.png", size: "50x50"),praise_me.user %>
    <% end %><br>
    <% usera = User.find(praise_me.user_id) %><br>
    <span class="user_id">作成したユーザー名<%= usera.name %></span><br>
    <span class="comment">褒めて欲しいコメント<%= link_to praise_me.comment, praise_me_path(praise_me.id) %></span><br>
    <span class="number_of_people">予定人数 <%= praise_me.number_of_people %>人</span><br>
    <span class="number_of_people">実際の人数 <%= Praise.where(praise_me_id: praise_me.id).count %>人</span><br>
    
    <span class="phase">投稿段階 <%= praise_me.phase %></span><br>
    <span class="deadline">締切<%= praise_me.deadline %></span><br>
    
  
    <span class="timestamp">
      Posted <%= time_ago_in_words(praise_me.created_at) %> ago.
    </span><br>
</li>