<% provide(:title, 'ほめて！検索結果') %>
<h1>ほめて！検索</h1>
<%= link_to "新しいほめて！を作る", new_praise_me_path %><br>
<%= link_to "みんなのほめて！を見る", praise_mes_path %><br>
<%= link_to "ほめて！をID検索する", praise_mes_search_path %><br>
<%= will_paginate %>

<ul class="praise_me">
  <%= render @praise_mes %>
</ul>

<%= will_paginate %>