<h1>Psycho-logic</h1>

<p>こんにちわ,初めまして。</p>

<p>
あなたは <% usera = User.find(@point_mail.user_id) %><%= usera.name %> さんによってサイコロジックに招待されました。<br>
下記の招待コードをサイト登録時に入力することによって、<br>
<%= @point_mail.send_dice_point %>ダイスポイント
(<% point = @point_mail.send_dice_point * 0.1 %><%= point.floor %>円相当)が<br>
<% usera = User.find(@point_mail.user_id) %><%= usera.name %> さんからプレゼントされてます。<br>
ぜひこの機会にサイコロジックのサービスを楽しんでください。<br>
よろしくお願いします！！<br>
<br>
</p>
招待コード：<br>
<br>
<%= @point_code.code %><br>
<br>
送られるダイスポイント : <%= @point_code.point %><br>
<br>
招待されたユーザーID : <%= @point_mail.user_id %><br>
<br>
--------------------------------------------------------------------------------------<br>
<br>
<% usera = User.find(@point_mail.user_id) %><%= usera.name %>さんがあなたに宛てたメール本文。<br>
<br>
メールタイトル<br>
<%= @point_mail.title %><br>
<br>
本文<br>
<%= @point_mail.content %><br>


