<% provide(:title, 'お気に入り') %>
<h1>お気に入り</h1>

<%= link_to "努力で夢を叶えたい（task)", favorites_tasks_show_path(current_user) %><br>
<%= link_to "みんなのクイズ", favorites_quizzes_show_path(current_user) %><br>
<%= link_to "小説感想", favorites_novels_show_path(current_user) %><br>
<%= link_to "ミニノウハウ", favorites_mini_know_hows_show_path(current_user) %><br>
<%= link_to "ほめて！", favorites_praise_mes_show_path(current_user) %><br>
<%= link_to "百百", favorites_hyakuhyakus_show_path(current_user) %><br>
