<% provide(:title, 'お気に入りのほめて！') %>
<h1>お気に入りのほめて！</h1>

<%= link_to "新しいほめて！を作る", new_praise_me_path %><br>
<%= link_to "みんなのほめて！を見る", praise_mes_path %><br>
<%= link_to "ほめて！をID検索する", praise_mes_search_path %><br>

<%= will_paginate %>

<ul class="praise_mes">
  <%= render @praise_mes %>
  
</ul>

<%= will_paginate %>