<li id="task-<%= task.id %>">

  <% if task.user.avatar.attached? %>
  <%= link_to image_tag(task.user.avatar.variant(resize_to_fill: [50, 50]).processed),task.user %>
  <% else %>
    <%= link_to image_tag("default_avatar.png", size: "50x50"),task.user %>
  <% end %>
  <span class="task_id"><%= link_to task.id, task_path(task.id) %></span>
  <span class="create_time"><%= link_to task.created_at.strftime('%Y/%m/%d %H:%M:%S'), task_path(task.id) %></span>
  <span class="content">内容 <%= simple_format(task.content) %></span>  
  <span class="user">名前 <%= link_to task.user.name, task.user %></span>
  <span class="bet_user_id">あげるかもしれないユーザーID <%= task.bet_user_id %></span>
  <% usera = User.find(task.bet_user_id) %>
  <span class="usera.name">名前 <%= usera.name %></span>
  <span class="deadline">締切 <%= task.deadline_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
  <span class="amount_bet">かけるダイス <%= task.amount_bet %></span>
  <span class="status">状況 <%= task.status %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.
  </span>
  
</li>