<% provide(:title, 'my tasks') %>
<h1>タスク検索</h1>
<%= link_to "タスクを作る", tasks_new_path %><br>
<%= link_to "みんなのタスクを見る", tasks_index2_path %><br>
<%= link_to "タスクをID検索する", tasks_search_path %><br>
<%= will_paginate %>

<ul class="tasks">
  <%= render @tasks %>
</ul>

<%= will_paginate %>