<li id="five_percentage_reviews-<%= five_percentage_review.id %>">
    
    <span class="service_name">サービス(コンテンツ)の名前 <%= five_percentage_review.service_name %></span><br>
    
    <span class="url">サービスを紹介するURL <%= five_percentage_review.url %></span><br>
    <span class="price">価格（円） <%= five_percentage_review.price %></span><br>
    <span class="price_supplement">価格(補足情報） <%= five_percentage_review.price_supplement %></span><br>
    <span class="status">販売状況（今現在発売中か否か） <%= five_percentage_review.status %></span><br>
    <span class="content">レビューの文字数 <%= five_percentage_review.content.size %>文字</span><br>
    <span class="dice_price">情報閲覧料 <%= five_percentage_review.price / 2 %>ダイスポイント （<%= five_percentage_review.price / 20.to_f %>円）</span><br>
    <span class="このレビューを見る"><%= link_to 'このレビューを見る', five_percentage_review_path(five_percentage_review.id) %></span><br>
    

  
    <% usera = User.find(five_percentage_review.user_id) %><br>
    <% if five_percentage_review.user.avatar.attached? %>
    <%= link_to image_tag(five_percentage_review.user.avatar.variant(resize_to_fill: [50, 50]).processed),five_percentage_review.user %>
    <% else %>
    <%= link_to image_tag("default_avatar.png", size: "50x50"),five_percentage_review.user %>
    <% end %><br>
    <span class="user_id">情報提供したユーザー名<%= usera.name %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(five_percentage_review.created_at) %> ago.
    </span><br>
</li><br><br>