<% provide(:title, 'お気に入り') %>
<h1>お気に入り</h1>

<%= link_to "ユーザー", okiniiris_users_show_path(current_user) %><br><br>

<%= link_to "１円記事", okiniiris_one_yen_articles_show_path(current_user) %><br>
<%= link_to "有料サービス５％レビュー", okiniiris_five_percentage_reviews_show_path(current_user) %><br>
<%= link_to "努力で夢を叶えたい（task)", okiniiris_tasks_show_path(current_user) %><br>
<%= link_to "みんなのクイズ", okiniiris_quizzes_show_path(current_user) %><br>
<%= link_to "小説感想", okiniiris_novels_show_path(current_user) %><br>
<%= link_to "小説のおまけ", okiniiris_novel_services_show_path(current_user) %><br>
<%= link_to "ミニノウハウ", okiniiris_mini_know_hows_show_path(current_user) %><br>
<%= link_to "ほめて！", okiniiris_praise_mes_show_path(current_user) %><br>
<%= link_to "百百", okiniiris_hyakuhyakus_show_path(current_user) %><br>
<%= link_to "小説朗読", okiniiris_audio_readings_show_path(current_user)%><br>
