<% provide(:title, '有料サービス５％レビュー') %>
<h1>有料サービス５％レビュー</h1>

<%= link_to "新しい有料サービス５％レビューを投稿する", new_five_percentage_review_path %><br>
<%= link_to "有料サービス５％レビューの一覧を見る", five_percentage_reviews_path %><br>
<%= link_to "有料サービス５％レビューをID検索する", five_percentage_reviews_search_path %><br><br>


<% if PointLog.find_by(user_id:@current_user.id,service_name: "５％レビュー",category:"閲覧された対価",service_id:@five_percentage_review.id).present? %>
<li id="five_percentage_review-<%= @five_percentage_review.id %>">
    <span class="service_name">名前 <%= @five_percentage_review.service_name %></span><br>
    
    <span class="url">URL <%= @five_percentage_review.url %></span><br>
    <span class="price">価格（円） <%= @five_percentage_review.price %></span><br>
    <span class="price_supplement">価格(これを書いた日の日付、限定個数などの補足情報）<br><%= @five_percentage_review.price_supplement %></span><br>
    <span class="status">販売状況（今現在発売中か否か） <%= @five_percentage_review.status %></span><br>
    <span class="content_size">レビューの文字数 <%= @five_percentage_review.content.size %>文字</span><br>
    <span class="content">レビュー内容 <%= @five_percentage_review.content %></span><br>
  
    <% usera = User.find(@five_percentage_review.user_id) %><br>
    <%= link_to gravatar_for(@five_percentage_review.user, size: 50), @five_percentage_review.user %><br>
    <span class="user_id">情報提供したユーザー名<%= usera.name %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@five_percentage_review.created_at) %> ago.
    </span><br>

    <% if @five_percentage_review.user_id == current_user.id %>
    <%= link_to '編集する', edit_five_percentage_review_path(@five_percentage_review), method: :post ,class: 'btn btn-primary' %><br><br>
    <% end %>
    
  <% if @favorite.present? %>
        <%= button_to 'お気に入りを削除', five_percentage_reviews_favorites_delete_path(@five_percentage_review), method: :delete,class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'お気に入りに追加', five_percentage_reviews_favorites_add_path(@five_percentage_review), method: :get, class: 'btn btn-primary' %>
    <% end %>
</li>
<% elsif @five_percentage_review.user_id == current_user.id %>
  <li id="five_percentage_review-<%= @five_percentage_review.id %>">
    <span class="service_name">名前 <%= @five_percentage_review.service_name %></span><br>
    
    <span class="url">URL <%= @five_percentage_review.url %></span><br>
    <span class="price">価格 <%= @five_percentage_review.price %>円</span><br>
    <span class="price_supplement">価格(これを書いた日の日付、限定個数などの補足情報）<br> <%= @five_percentage_review.price_supplement %></span><br>
    <span class="status">販売状況（今現在発売中か否か） <%= @five_percentage_review.status %></span><br>
    <span class="content">レビューの文字数 <%= @five_percentage_review.content.size %>文字</span><br>
    <span class="content">レビュー内容 <%= @five_percentage_review.content %></span><br>
  
    <% usera = User.find(@five_percentage_review.user_id) %><br>
    <%= link_to gravatar_for(@five_percentage_review.user, size: 50), @five_percentage_review.user %><br>
    <span class="user_id">情報提供したユーザー名<%= usera.name %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@five_percentage_review.created_at) %> ago.
    </span><br>

    <%= link_to'編集する', edit_five_percentage_review_path(@five_percentage_review),class: 'btn btn-primary' %><br><br>

  <% if @favorite.present? %>
        <%= button_to 'お気に入りを削除', five_percentage_reviews_favorites_delete_path(@five_percentage_review), method: :delete,class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'お気に入りに追加', five_percentage_reviews_favorites_add_path(@five_percentage_review), method: :get, class: 'btn btn-primary' %>
    <% end %>
</li>

<% elsif @usera.dice_point >=  @five_percentage_review.price / 2  %>
<li id="five_percentage_review-<%= @five_percentage_review.id %>">
    <span class="service_name">名前 <%= @five_percentage_review.service_name %></span><br>
    
    <span class="url">URL <%= @five_percentage_review.url %></span><br>
    <span class="price">価格（円） <%= @five_percentage_review.price %></span><br>
    <span class="price_supplement">価格(これを書いた日の日付、限定個数などの補足情報）<br><%= @five_percentage_review.price_supplement %></span><br>
    <span class="status">販売状況（今現在発売中か否か） <%= @five_percentage_review.status %></span><br>
    <span class="content">レビューの文字数 <%= @five_percentage_review.content.size %>文字</span><br>
    <span class="content">レビュー内容 <%= @five_percentage_review.content %></span><br>
  
    <% usera = User.find(@five_percentage_review.user_id) %><br>
    <%= link_to gravatar_for(@five_percentage_review.user, size: 50), @five_percentage_review.user %><br>
    <span class="user_id">情報提供したユーザー名<%= usera.name %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@five_percentage_review.created_at) %> ago.
    </span><br>

  <% if @favorite.present? %>
        <%= button_to 'お気に入りを削除', five_percentage_reviews_favorites_delete_path(@five_percentage_review), method: :delete,class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'お気に入りに追加', five_percentage_reviews_favorites_add_path(@five_percentage_review), method: :get, class: 'btn btn-primary' %>
    <% end %>
</li>

<% else %>
ダイスポイントが足りません。
<% end %>