<li id="one_yen_article-<%= one_yen_article.id %>">
    <% if one_yen_article.user.avatar.attached? %>
    <%= link_to image_tag(one_yen_article.user.avatar.variant(resize_to_fill: [50, 50]).processed),one_yen_article.user %>
    <% else %>
    <%= link_to image_tag("default_avatar.png", size: "50x50"),one_yen_article.user %>
    <% end %><br>
    <% userz = User.find(one_yen_article.user_id) %><br>
    <span class="user_id">作成したユーザー名<%= userz.name %></span><br>
    <span class="タイトル">タイトル<%= link_to one_yen_article.title, one_yen_article_path(one_yen_article.id) %></span><br><br>
    <span class="ビュー">ビュー <%= one_yen_article.views %> 回</span><br>
    <span class="プロンプトのビュー">プロンプトのビュー <%= one_yen_article.prompt_views %> 回</span><br>
    <span class="お気に入り登録数">お気に入り登録数 <%= Okiniiri.where(service_id: one_yen_article.id,service_name: "１円記事").count %><br>
  
    <span class="timestamp">
      Posted <%= time_ago_in_words(one_yen_article.created_at) %> ago.
    </span><br>
</li>