<% provide(:title, '１円記事') %>
<h1>１円記事</h1>

<%= link_to "新しい１円記事を投稿する", new_one_yen_article_path %><br>
<%= link_to "１円記事をID検索する", one_yen_articles_search_path %><br>

<%= form_with url: one_yen_articles_path, method: :get, local: true, class: "search-form" do %>
  <%= text_field_tag :keyword, params[:keyword], class: "search-input" %>
  <%= submit_tag "検索", class: "search-button" %>
<% end %>

<%= will_paginate %>

<ul class="one_yen_articles">
  <%= render @one_yen_articles %>
  
</ul>

<%= will_paginate %>