<% provide(:title, '１円記事') %>
<h1>１円記事を見る</h1>

<%= link_to "１円記事を作成する", new_one_yen_article_path %><br>
<%= link_to "１円記事をID検索する", one_yen_articles_search_path %><br>


<%= will_paginate %>

<ul class="one_yen_article_how">
  <%= render @one_yen_articles %>
  
</ul>

<%= will_paginate %>