<% provide(:title, '１円記事') %>
<h1>１円記事</h1>

<%= link_to "新しい１円記事を投稿する", new_one_yen_article_path %><br>

<% if PointLog.find_by(user_id:@current_user.id,service_name: "１円記事", service_id:@one_yen_article.id,dice_point:-10).present? %>
<li id="one_yen_article-<%= @one_yen_article.id %>">
    <% if @one_yen_article.user.avatar.attached? %>
      <%= link_to image_tag(@one_yen_article.user.avatar.variant(resize_to_fill: [100, 100])), @one_yen_article.user %>
    <% else %>
      <%= link_to image_tag("default_avatar.png", size: "100x100"), @one_yen_article.user %>
    <% end %><br>
    <% userz = User.find(@one_yen_article.user_id) %><br>
    <span class="user_id">作成したユーザー名<%= userz.name %></span><br>
    <span class="タイトル">タイトル<%= @one_yen_article.title %></span><br><br>
    <span class="ビュー">ビュー <%= @one_yen_article.views %> 回</span><br>
    <span class="プロンプトのビュー">プロンプトのビュー <%= @one_yen_article.prompt_views %> 回</span><br>
    <span class="お気に入り登録数">お気に入り登録数 <%= Okiniiri.where(service_id: @one_yen_article.id,service_name: "１円記事").count %><br>
    <span class="記事">記事<%= simple_format(@one_yen_article. article) %></span><br>
    <span class="プロンプトを見る"><%= link_to 'プロンプトを見る-500ダイス', one_yen_articles_prompt_show_path(@one_yen_article) %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@one_yen_article.created_at) %> ago.
    </span><br>



  <% if @okiniiri.present? %>
        <%= button_to 'お気に入りを削除', one_yen_articles_okiniiris_delete_path(@one_yen_article), method: :delete,class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'お気に入りに追加', one_yen_articles_okiniiris_add_path(@one_yen_article), method: :get, class: 'btn btn-primary' %>
    <% end %>
</li>
<% elsif @one_yen_article.user_id == current_user.id %>
  <li id="one_yen_article-<%= @one_yen_article.id %>">
    <% if @one_yen_article.user.avatar.attached? %>
      <%= link_to image_tag(@one_yen_article.user.avatar.variant(resize_to_fill: [100, 100])), @one_yen_article.user %>
    <% else %>
      <%= link_to image_tag("default_avatar.png", size: "100x100"), @one_yen_article.user %>
    <% end %><br>
    <% userz = User.find(@one_yen_article.user_id) %><br>
    <span class="user_id">作成したユーザー名<%= userz.name %></span><br>
    <span class="タイトル">タイトル<%= @one_yen_article.title %></span><br><br>
    <span class="ビュー">ビュー <%= @one_yen_article.views %> 回</span><br>
    <span class="プロンプトのビュー">プロンプトのビュー <%= @one_yen_article.prompt_views %> 回</span><br>
    <span class="お気に入り登録数">お気に入り登録数 <%= Okiniiri.where(service_id: @one_yen_article.id,service_name: "１円記事").count %><br>
    <span class="記事">記事<%= simple_format(@one_yen_article. article) %></span><br>
    <span class="プロンプトを見る"><%= link_to 'プロンプトを見る', one_yen_articles_prompt_show_path(@one_yen_article) %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@one_yen_article.created_at) %> ago.
    </span><br>

    <% if @okiniiri.present? %>
        <%= button_to 'お気に入りを削除', one_yen_articles_okiniiris_delete_path(@one_yen_article), method: :delete,class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'お気に入りに追加', one_yen_articles_okiniiris_add_path(@one_yen_article), method: :get, class: 'btn btn-primary' %>
    <% end %>

</li>

<% elsif @usera.dice_point >= 10 %>
<li id="one_yen_article-<%= @one_yen_article.id %>">
    <% if @one_yen_article.user.avatar.attached? %>
      <%= link_to image_tag(@one_yen_article.user.avatar.variant(resize_to_fill: [100, 100])), @one_yen_article.user %>
    <% else %>
      <%= link_to image_tag("default_avatar.png", size: "100x100"), @one_yen_article.user %>
    <% end %><br>
    <% userz = User.find(@one_yen_article.user_id) %><br>
    <span class="user_id">作成したユーザー名<%= userz.name %></span><br>
    <span class="タイトル">タイトル<%= @one_yen_article.title %></span><br><br>
    <span class="ビュー">ビュー <%= @one_yen_article.views %> 回</span><br>
    <span class="プロンプトのビュー">プロンプトのビュー <%= @one_yen_article.prompt_views %> 回</span><br>
    <span class="お気に入り登録数">お気に入り登録数 <%= Okiniiri.where(service_id: @one_yen_article.id,service_name: "１円記事").count %><br>
    <span class="記事">記事<%= simple_format(@one_yen_article. article) %></span><br>
    <span class="プロンプトを見る"><%= link_to 'プロンプトを見る-500ダイス', one_yen_articles_prompt_show_path(@one_yen_article) %></span><br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@one_yen_article.created_at) %> ago.
    </span><br>



  <% if @okiniiri.present? %>
        <%= button_to 'お気に入りを削除', one_yen_articles_okiniiris_delete_path(@one_yen_article), method: :delete,class: 'btn btn-primary' %>
      <% else %>
        <%= button_to 'お気に入りに追加', one_yen_articles_okiniiris_add_path(@one_yen_article), method: :get, class: 'btn btn-primary' %>
    <% end %>
</li>

<% else %>
ダイスポイントが足りません。
<% end %>