<li>
  <% if user.avatar.attached? %>
  <% begin %>
    <%= image_tag user.avatar.variant(resize_to_fill: [100, 100]).processed %>
  <% rescue => e %>
    <p style="color:red">variant error: <%= e.message %></p>
  <% end %>
<% else %>
  <%= image_tag "default_avatar.png", size: "100x100" %>
<% end %>
  <%= link_to user.name, user %>
  <%= user.dice_point %>
  <%= user.profile %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "You sure?" } %>
  <% end %>
</li>