<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <% if current_user.admin? %>
        <%= @user.email %><br>
        <% end %>
        id <%= @user.id %><br>
        <%= @user.name %>
        <%= @user.dice_point %><br>
        <%= @user.profile %><br>
        <%= "タスク成功回数" %>
        <%= Task.where(user_id: @user.id, status: "成功" ).count %>
        <%= "回" %><br>
        <%= "タスク失敗回数" %>
        <%= Task.where(user_id: @user.id, status: "失敗").count %>
        <%= "回" %><br>

         <li><%= link_to "プロフィールの編集", edit_user_path(current_user) %></li>
        <%= link_to '多分売れる履歴', users_show_probably_a_hit_path(@user) %><br>
        <% if current_user?(@user) %>
        <%= link_to 'ポイントのログ', point_log_path(user_id: @user.id) %><br>

        <% end %><br>
        <% if current_user.admin? %>
          <%= link_to 'ポイントのログ', point_log_path(@user) %><br>
          <%= link_to 'ポイントのプラス', new_point_log_path %><br>

        <% end %>

      </h1>
    </section>
  </aside>
</div>