<% provide(:title, 'ポイント付メール') %>
<h1>ポイント付メール</h1>

<%= link_to "メールを作成する", new_point_mail_path %><br>
<%= link_to "過去に作成したメールを見る", point_mails_index2_path %><br>

<%= will_paginate %>

<ul class="point_mails">
  <%= render @point_mails %>
  
</ul>

<%= will_paginate %>