<li><% if logged_in? %>
<%= link_to novel.work_name, novels_show_path(novel) %>
<% else %>
<%= novel.work_name %>
<% end %><br>

<% if logged_in? %>
<span class="user">名前 <%= link_to novel.user.name, novel.user %></span><br>
<% else %>
<span class="user">名前 <%= novel.user.name %></span><br>
<% end %>
  <span class="content"> <%= novel.synopsis %></span><br>
  <span class="url1"> url1 <%= link_to novel.url1 , novel.url1 %></span><br>
  <span class="url2"> url2 <%= link_to novel.url2 , novel.url2 %></span><br>
  <span class="url3"> url3 <%= link_to novel.url3 , novel.url3 %></span><br>
  <span class="accumulation_dice_point"> 今までもらった応援ダイスポイント <%= novel.accumulation_dice_point %></span><br>
  <span class="status"> <%= novel.status %><%= "個の感想募集中" %></span><br>
  <span class="お気に入り登録数">お気に入り登録数 <%= Okiniiri.where(service_id: novel.id,service_name: "小説感想").count %><br><br>
  </li>