<% provide(:title, @novel.work_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= link_to "小説へのリンク集", novels_path %><br>
      <%= link_to "感想を募集する", novels_new_path %><br><br>
      <h1>
        <%= @novel.work_name %><br>
        <%= @novel.user.name %><br>
        <%= @novel.synopsis %><br>
        <%= @novel.url1 %><br>
        <%= @novel.url2 %><br>
        <%= @novel.url3 %><br>
        <%= @novel.status %>個の感想を募集中<br><br>
        <% if @novel.user_id == current_user.id %>
          あなたはこの小説の作者なので、感想は書けません。<br><br>
        <% elsif @novel.status >= 1  %>
          <%= link_to '感想を書く', new_novel_thought_path(@novel), class: 'btn btn-primary' %>
        <% else %>
          この小説の作者は今現在感想を求めていません。
        <% end %>
感想
        <% @thoughts.each do |thought| %>
          <%= thought.user.name %><br>
          <%= thought.thoughts %><br>
        <% end %>

      </h1>
    </section>
  </aside>
</div>