<% provide(:title, @novel.work_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= link_to "小説へのリンク集", novels_path %><br>
      <%= link_to "感想を募集する", novels_new_path %><br><br>
      <h1>
        小説名 <%= @novel.work_name %><br>
        作者 <%= @novel.user.name %><br>
        あらすじ <p class="content"><%= @novel.synopsis %></p><br>
        URL1 <%= link_to @novel.url1 , @novel.url1 %><br>
        URL2 <%= link_to @novel.url2 , @novel.url2 %><br>
        URL3 <%= link_to @novel.url3 , @novel.url3 %><br>
        今までもらった応援ダイスポイント<%= @novel.accumulation_dice_point %><br>
        <%= @novel.status %>個の感想を募集中<br><br>
        <% if @novel.user_id == current_user.id %>
          あなたはこの小説の作者なので、感想は書けません。<br><br>
        <% elsif @novel.status >= 1 && Thought.find_by(novel_id:@novel.id,user_id:current_user.id).nil? %>
        <%= link_to '感想を書く', new_novel_thought_path(@novel), class: 'btn btn-primary' %><br>
        <% elsif @novel.status == 0 %>
          今現在感想は募集されていません。<br><br>
        <% else %>
          感想は一つの小説につき一つしか書けません。<br><br>
        <% end %>

        <% if @novel.user_id == current_user.id && @novel.status == 0 %>
        <%= link_to '募集する感想を追加する', novels_status_path(@novel), class: 'btn btn-primary' %><br><br>
        <% end %>

        <% if @thoughts.size >= 1 %>
            <%= puts = "【感想】" %><br>
        <br>
            <% end %>
        <% @thoughts.each do |thought| %>
          <%= thought.user.name %><br>
          <p class="content"><%= thought.thoughts %></p><br>
          <% if thought.user_id == current_user.id %>
          <%= link_to '感想を再編集する', edit_novel_thought_path(@novel, thought) %><br>
          <% end %>
          <br>
        <% end %>

        <% if @novel.user_id == current_user.id %>
          あなたはこの小説の作者なので、応援はできません。<br><br>
        <% elsif NovelsSupport.where(novel_id:@novel.id,user_id:current_user.id).present? %>
          この小説を応援できるのは一回だけです。<br><br>
        <% else %>
        <%= link_to '応援する', new_novel_novels_support_path(@novel), class: 'btn btn-primary' %><br>
        <% end %>
          <% if @novels_supports.size >= 1 %>
            <%= puts = "【応援コメント】" %><br>
        <br>
            <% end %>
        <% if @novel.user_id != current_user.id %>
        <%= link_to 'これは売れる！', novels_novel_probably_a_hit_path(@novel), class: 'btn btn-primary' %><br>
        <% end %>
        

        <% @novels_supports.each do |novels_support| %>
          <%= novels_support.user.name %><br>
          <p class="content"><%= novels_support.comment %></p>
          <%= novels_support.support_fee %><br>
        <% end %>

        <% if @favorite.present? %>
          <%= button_to 'お気に入りを削除', novels_favorites_delete_path(@novel), method: :delete,class: 'btn btn-primary' %>
        <% else %>
          <%= button_to 'お気に入りに追加', novels_favorites_add_path(@novel), method: :get, class: 'btn btn-primary' %>
        <% end %>
      </h1>
    </section>
  </aside>
</div>